<div class="register-container">
	<div class="content">
		<section>
			<img src="/img/logo.svg" alt="Be the Hero" />
			<h1>Cadastro</h1>
			<p>Faça seu cadastro, entre na plateforma e ajude pessoas a encontrarem os casos da sua ONG</p>
			<a class="back-link" href="/">
				<img src="/icons/arrow-left">
				Não tenho cadastro
			</a>
		</section>
		<form>
			<input name="nome" placeholder="Nome da ONG">
			<input type="email" name="email" placeholder="Email">
			<input name="whatsapp" placeholder="WhatsApp">
			<div class="input-group">
				<input name="city" placeholder="Cidade">
				<input name="uf" placeholder="UF" class="uf">
			</div>
			<button class="button" type="submit">Cadastrar</button>
		</form>
	</div>
</div>
